// // @font-face {
// // 	font-family: "Cooper-Hewitt";
// // 	src: url("../fonts/CooperHewitt-Heavy.otf") format(".otf");
// // }

@font-face {
	font-family: "League-Gothic";
	src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

.league {
	font-family: "League-Gothic" !important;
}

.center-me {
	position: absolute;
	top: 48px;
	right: 48px;
	color: white;
}

.my-box {
	position: relative !important;
	text-align: center;
	color: white;
}

html * {
	font-family: "Open Sans" !important;
}

.link {
	text-decoration: none !important;
}

.faicon {
	color: black !important;
}

.page-box {
	margin-top: 72px;
}

.content {
	flex-grow: 1;
}

.toolbar {
	display: "flex";
	align-items: "center";
	justify-content: "flex-end";
}

.center-text {
	text-align: center !important;
}

.black-box {
	height: 100px;
	width: 100px;
	background-color: black;
	color: black;
}

.MuiTextField-root {
	margin-top: 8px !important;
}

.splash-page {
	flex-grow: 1;
	#shirt-stacks {
		width: inherit;
		max-height: 70vh;
	}
	.no-grow {
		flex-grow: 0;
	}
}

.translucent {
	background-color: black;
	text-align: center;
}
